# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.egg

# Installer logs
test-results.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# Pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
venv/
ENV/

# IDEs
.idea/
.vscode/

# Docker
*.log
docker-compose.override.yml

# Linting
ruff_cache/

# Miscellaneous
*.DS_Store
*.log
*.swp

# GitHub workflows and VS Code settings
.github/
.vscode/
